body {
    min-height: 100%;
    background-color: #ABDFF1;
}


/* Set style with class */

.Font-Menu-Style {
    color: #E1DDDB !important;
}

.Menu-Onover {
    border-bottom-style: solid;
    border-bottom-color: #0C4A60;
    margin-left: 10px;
}

.Menu-Onover:hover {
    border-bottom-color: #E1DDDB;
}

.NAV-MENU-ACTIVE {
    border-bottom-style: solid;
    border-bottom-color: #ABDFF1;
    font-weight: bold;
}

.Hidden-Menu {
    /* background-color: #EF6C33 !important;
    color: #E1DDDB !important; */
    background-color: #E1DDDB !important;
    color: #0C4A60 !important;
}

.Section-about {
    background-color: rgba(225, 221, 219, 0.3);
}

.About-Master-Style {
    padding-top: 30px;
    text-align: center;
}

.Footer-Section {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0C4A60;
    color: #E1DDDB;
    text-align: center;
}

.Footer-Section-Style {
    background-color: #0C4A60;
    color: #E1DDDB;
    text-align: center;
}

.Footer-Section-Text {
    padding-top: 10px;
    line-height: 1.6;
}


/* Set style with ID */

#MainMenuStyle {
    background-color: #0C4A60 !important;
    color: #E1DDDB !important;
}