body {
    min-height: 100%;
    background-color: rgba(171, 223, 241, 0.3);
}


/* Set style with class */

.Font-Menu-Style {
    color: #E1DDDB !important;
}

.Menu-Onover {
    border-bottom-style: solid;
    border-bottom-color: #0C4A60;
    margin-left: 10px;
}

.Menu-Onover:hover {
    border-bottom-color: #E1DDDB;
}

.NAV-MENU-ACTIVE {
    border-bottom-style: solid;
    border-bottom-color: #ABDFF1;
    font-weight: bold;
}

.Hidden-Menu {
    background-color: #E1DDDB !important;
    color: #0C4A60 !important;
}

.About-Master-Style {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.Card-Content-Top {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: left;
    background-color: #ABDFF1;
    color: #0C4A60;
}

.Card-Content-Bottom {
    margin-bottom: 15px;
    margin-top: 10px;
    background-color: #ABDFF1;
    color: #0C4A60;
}

.Footer-Section {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0C4A60;
    color: #E1DDDB;
    text-align: center;
}

.Footer-Section-Style {
    background-color: #0C4A60;
    color: #E1DDDB;
    text-align: center;
}

.Footer-Section-Text {
    padding-top: 10px;
    line-height: 1.6;
}


/* Set style with ID */

#MainMenuStyle {
    background-color: #0C4A60 !important;
    color: #E1DDDB !important;
}

@media screen and (max-width: 1080px) {
    .Card-Content-Top,
    .Card-Content-Bottom {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .About-Master-Style {
        padding-top: 15px;
        text-align: center;
    }
}